.legend {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Adjust as needed */
}

.label {
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  margin-right: 5px; /* Adjust as needed */
}
