<div>
</div>
<div class="container my-container">
    <div class="card justify-content-md-center">

        <div class="card-body">

            <div class="mb-2">
                <input type="text" class="form-control" placeholder="Nom">
            </div>
            <div class="mb-2">
                <input type="text" class="form-control" placeholder="Prénom">
            </div>
            <div class="mb-2">
                <input type="email" class="form-control" placeholder="E-mail">
            </div>
            <div class="mb-2">
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="mb-2">
                <input type="text" class="form-control" placeholder="Cin">
            </div>
            <div class="mb-2">
                <input type="text" class="form-control" placeholder="Ecole">
            </div>

            <div class="mb-2 d-flex justify-content-between">
                <button class="btn btn-danger mr-3" (click)="cancel()">
                <i class="fas fa-ban"></i>&nbsp;
                Annuler
              </button>
                <button class="btn btn-primary">
                <i class="fas fa-save"></i>&nbsp;
                Enregitrer
              </button>
            </div>
        </div>
    </div>
</div>
<div>
</div>
