button {
    font-weight: bold;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    /* Adjust the margin as needed */
}



.table th {
    background-color: #C8AE7D;
    color: #fff;
}




.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table thead {
    background-color: #343a40;
    /* Dark background color for the header */
    color: #fff;
    /* Text color for the header */
}

/* Optional: Add hover effect to rows */
.table tbody tr:hover {
    background-color: #f5f5f5;
}