

/* Table Styles */
.table {
  width: 100%;
}



form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  background-color: #f0ad4e;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #f0ad4e;
}


h2 {
  color: #f0ad4e;
}

p {
  margin-bottom: 10px;
}

/* Style for the container div */


/* Style for the table */
.body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Ajouter ces styles à votre fichier CSS existant */

.card {
  width: 100%;
  max-width: 400px; /* Ajustez la largeur maximale selon vos besoins */
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px; /* Ajustez le rembourrage selon vos besoins */
}

.card-title {
  background-color: #C8AE7D;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 10px;
}

.chambre-details {
  border-bottom: 1px solid #C8AE7D;
  padding: 8px;
  margin-bottom: 8px;
}

.chambre-details p {
  margin: 5px 0;
}

.card-text {
  font-size: 14px;
  color: #555;
}

/* Ajoutez d'autres styles personnalisés au besoin */
