<!-- dashboard.component.html -->
<div class="container mt-4">
  <h2>Dashboard</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Chambre</h5>
          <p class="card-text">Click the button below to add a new chambre.</p>
          <a routerLink="/add-chambre" class="btn btn-info">Add Chambre</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Display Chambres</h5>
          <p class="card-text">Click the button below to display chambres.</p>
          <a routerLink="/display-chambres" class="btn btn-info">Display Chambres</a>
        </div>
      </div>
    </div>
   
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Statistiques  Chambres</h5>
          <p class="card-text">Click the button below to display chambres.</p>
          <a routerLink="/statistique-chambre" class="btn btn-info">Voir stat Chambres</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Statistiques bien et mal  evaluation </h5>
          <p class="card-text">Click the button below to display chambres.</p>
          <a routerLink="/evaluation-Chart" class="btn btn-info">Voir evaluation </a>
        </div>
      </div>
    </div>
  </div>
</div>
