<!-- Remove the container if you want to extend the Footer to full width. -->
<br>
<!-- Footer -->
<footer class="text-center text-lg-start" style="background-color: #65451F; color: #ffffff;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4" style="background-color: #C8AE7D">
        <!-- Left -->
        <br>
        <div class="me-5">
        
            <span>Rejoignez-nous sur les réseaux sociaux :</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column with logo and content -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Logo and Content -->
                
                        <!-- Content -->
                        <div>
                            <h6 class="text-uppercase fw-bold">Reservini</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #EAC696; height: 2px">
                            <p>
                                Découvrez le deuxième chez-soi idéal pour les étudiants. Reservini est votre plateforme de confiance pour des réservations d'hébergement sans tracas. Trouvez des espaces de vie confortables et abordables à proximité des établissements d'enseignement, rendant votre vie étudiante mémorable et pratique.
                            </p>
                        </div>
                </div>
                <!-- Grid column with logo and content -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Liens utiles</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #EAC696; height: 2px">
                    <p>
                        <a href="#!" class="text-white">Inscription en ligne</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Plan du site</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Admissions</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Aide</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #EAC696; height: 2px">
                    <p><i class="fas fa-home mr-3"></i>Tunis , 99351</p>
                    <p><i class="fas fa-envelope mr-3"></i> reservini-foyer@reservini.com</p>
                    <p><i class="fas fa-phone mr-3"></i> +216 72 100 200</p>
                    <p><i class="fas fa-print mr-3"></i> +216 72 100 300</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Tous les droits sont réservés.
        <a class="text-white" href="https://mdbootstrap.com/">reservini.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
