<div>
  <app-navbar></app-navbar>
<div>
  <section class="py-5 text-center" style=" color: #765827;">
    <div class="container">
      <h1 class="display-4 fw-bold">Découvrez le Confort de notre foyer</h1>
      <p class="lead">Réservez votre place dès maintenant et profitez d'un environnement d'apprentissage confortable.</p>
      <br>

      <br>
    </div>
  </section>
  <section class="py-5 bg-light" style=" color: #765827;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="fw-bold mt-5">Découvrez notre foyer</h2>
          <p class="lead my-5">Des installations modernes, un personnel accueillant et une atmosphère propice à l'étude.
          </p>
        </div>
        <div class="col-lg-6">
          <img src="../../assets/images/a.jpg" class="img-fluid rounded" alt="Image du Foyer">
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
</div>
