<!-- dashboard.component.html -->
<div class="container mt-4">
  <h2>Dashboard Bloc</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Bloc</h5>
          <p class="card-text">Click the button below to add a new bloc.</p>
          <a routerLink="/add-bloc" class="btn btn-primary">Add Bloc</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Display Bloc</h5>
          <p class="card-text">Click the button below to display blocs.</p>
          <a routerLink="/show-bloc" class="btn btn-info">Display Bloc</a>
        </div>
      </div>
    </div>
  </div>
</div>
